.product-list-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
    background: #F1F1F2;
    padding: 20px
}

.shopping-cart-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
}

.card-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}